<% title "Import Files", false %>

<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <div class="box-header">
        <h4 class="md-subhead">
          Import Bulk Records
        </h4>
      </div>
      <div class="box-body">
        <%= form_tag url_for(only_path: true, action: 'do_import'), :method => :post, :multipart => true, class: "import-form" do %>
          <p class="text-wet-asphalt">
            <strong>Supported file types:</strong>
            .csv, .xlsx
          </p>
          <div class="form-group">
            <%= label_tag :file, 'File input', :class => "input-label" %>
            <%= file_field_tag :file %>
          </div>
          <%= link_to "Cancel", { :controller => controller_name, :action => "index" }, { :class => "btn btn-flat" } %>
          <%= submit_tag "Import", :class => "btn btn-flat btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <div class="box-header">
        <h4 class="md-subhead">
          Expected Columns for <%= @model.to_s.titlecase %>
          <strong>Sample Records ONLY!</strong>
        </h4>
      </div>
      <div class="box-body">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <% @model.attribute_names.each do |att| %>
                <%= content_tag :th, att.downcase unless to_show_fields?(att) %>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% (1..3).each do %>
              <tr>
                <% @model.attribute_names.each do |att| %>
                  <%= content_tag :td, Faker::Lorem.words(1)[0] unless to_show_fields?(att) %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
